:host {
  display: block;
  font-family: sans-serif;
  width: 100%;
}

.mining-dashboard {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.card-overview, .card-error {
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.miner-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.miner-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
}

.miner-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.miner-name {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.start-buttons {
  display: flex;
  gap: 0.5rem;
}

.start-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #e0e0e0;
  padding-top: 1rem;
}

.button-spinner {
    font-size: 1em;
    margin: 0;
}

wa-button {
  min-width: auto;
}

wa-spinner {
  margin: 1rem 0;
}
