<div class="dashboard-view">
  @if (error()) {
    <wa-card class="card-error">
      <div slot="header">
        <wa-icon name="exclamation-triangle" style="font-size: 1.5rem;"></wa-icon>
        An Error Occurred
      </div>
      <p>{{ error() }}</p>
    </wa-card>
  }

  <!-- Consolidated Chart for All Running Miners -->
  @if (state().runningMiners.length > 0) {
    <div class="dashboard-charts">
      <snider-mining-stats-bar [stats]="state().runningMiners[0]?.full_stats"></snider-mining-stats-bar>
      <snider-mining-chart></snider-mining-chart>
    </div>
  } @else {
    <div class="centered-container">
      <p>No miners running.</p>
    </div>
  }
</div>
